@model Usuario

<form asp-controller="Usuario" asp-action="EditarUsuario">
    <input hidden asp-for="@Model.IdUsuario">
    <div class="form-group">
        <label asp-for="@Model.NombreUsuario"></label>
        <input asp-for="@Model.NombreUsuario" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>